//Add these classes to tags for specific
.brand-primary-bg {
  background: $colorBrandPrimary;
}

.brand-primary {
  color: $colorBrandPrimary;
}

.brand-secondary-bg {
  background: $colorBrandSecondary;
}

.brand-secondary {
  color: $colorBrandSecondary;
}

.brand-terciary-bg {
  background: $colorBrandTerciary;
}

.brand-terciary {
  color: $colorBrandTerciary;
}

.yellow-green-bg {
  background: $yellowGreen;
}

.yellow-green {
  color: $yellowGreen;
}

.brand-gradient {
  background: $colorBrandGradient
}

.black-bg {
  background: $black;
}
.white-bg {
  background: $white;
}
.mine-shaft-bg {
  background: $mineShaft;
}
.nevada-bg {
  background: $nevada;
}
.oslo-gray-bg {
  background: $osloGray;
}
.cadet-blue-bg {
  background: $cadetBlue;
}
.alabaster-bg {
  background: $alabaster;
}

.white-lilac-bg {
  background: $whiteLilac;
}

.iron-bg {
  background: $iron;
}

.black {
  color: $black;
}
.white {
  color: $white;
}
.mine-shaft {
  color: $mineShaft;
}
.nevada {
  color: $nevada;
}
.oslo-gray {
  color: $osloGray;
}
.cadet-blue {
  color: $cadetBlue;
}
.alabaster {
  color: $alabaster;
}

.white-lilac {
  color: $whiteLilac;
}

.iron {
  color: $iron;
}

.monza-bg {
  background: $monza;
}
.shamrock-bg {
  background: $shamrock;
}
.curious-blue-bg {
  background: $curiousBlue;
}

.monza {
  color: $monza;
}

.shamrock {
  color: $shamrock;
}

.curious-blue {
  color: $curiousBlue
}

.hero-overlay {
  background: $heroOverlay
}
.image-overlay {
  background: $imageOverlay
}
